.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  position: relative;
  
  font-family: 'Arial', sans-serif;
  z-index: 0;
  animation: quickFadeIn 0.6s ease-in-out;
}

@keyframes quickFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  object-fit: cover;
}

.overlay {
  position: absolute;
  margin-top: 6rem;
  width: 100%;
  height: 119%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.title {
  position: relative;
 
  color: white !important;
  font-family: "Jersey 10";
  text-align: center !important;
  margin-top: 3rem !important;
  font-size: 80px !important;
  animation: color-cycle-goldenrod-black4 1s ease forwards;
  opacity: 0;
  margin: 0;
}
.title::before {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 5px; /* Adjust the height of the stripe */
  background: rgb(132, 212, 255); /* Adjust the color and opacity of the stripe */
  z-index: 10; /* Ensure the stripe is behind the text */
  transform: translateY(-50%);
  border-radius: 8px;
  box-shadow: 2px 2px 15px 4px #8eddff; /* Glowing effect on hover/focus */
  animation: crtOn 0.8s ease forwards, crtFlicker 3s ease forwards;
    
   
  opacity: 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;

}
.instructions {
  font-family: 'Jersey 10';
  font-size: 30px;
  text-align: center;
  


}

.message {
  font-family: 'Jersey 10';
  font-size: 30px;
  text-align: center;
  
  color: white;
  transition: ease-in-out 0.3s;
  animation: color-cycle-goldenrod-black4 1s ease forwards;
}

.submitButton{
  font-family: 'Jersey 10';
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.textarea{
  width: 15rem;
  height: 15rem;
  border-collapse: separate;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  ),
  linear-gradient(to bottom right, #030518, #0c0935);
background-size: 3px 3px; /* Mimic CRT pixelation */
border-color: #000000; /* Amber for the border on hover/focus */
    box-shadow: 0 0 6px 2px #fff2628a,
      /* Bright outer glow */ inset 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
  
    border-radius: 8px; /* Slightly rounded corners can add to the antique look */
  
    border-radius: 20px;
    border: 4px solid #ccc;
    border-top: 3px solid #ccc;
    animation: crtOn 0.8s ease forwards;
  
    font-family: 'Jersey 10';
    padding: 10px;
    color: #ffffff;
    font-size: 17px;
    opacity: 0;
}





@keyframes crtOn {
  0% {
    pointer-events: none;
    transform: scaleY(0.001) scaleX(0);
    transform-origin: center;
    opacity: 1;
  }
  50% {
    pointer-events: none;
    transform: scaleY(0.003) scaleX(0.8);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    pointer-events: all;
    transform: scaleY(1) scaleX(1);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes color-cycle-goldenrod-black4 {
  0% {
    opacity: 0;
    color: rgb(22, 22, 22);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 0 rgb(218, 165, 32);
  }
  25% {
    opacity: 0.2;
    color: rgb(39, 39, 39);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 0 rgb(218, 165, 32);
  }
  50% {
    opacity: 0.4;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 0 rgb(218, 165, 32);
  }
  69% {
    opacity: 0.76;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 1px rgb(218, 165, 32);
  }
  70% {
    opacity: 0.84;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 2px rgb(218, 165, 32);
  }
  75% {
    opacity: 0.94;
    color: rgb(201, 201, 201);
    text-shadow: -2px -2px 2px rgb(0, 0, 0), 3px -2px 2px rgb(0, 0, 0),
      -1px 1px 0 rgb(218, 165, 32), 2px 2px 4px rgb(218, 165, 32);
  }
  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 0.913);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(0, 0, 0), 2px 2px 10px rgb(218, 165, 32);
  }
}



@keyframes crtFlicker {
  0%,
  100% {
    opacity: 1;
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60% {
    opacity: 0.95;
  }
  15%,
  35%,
  55% {
    opacity: 0.8;
  }
  14%,
  19%,
  29% {
    opacity: 0.6;
  }
  25%,
  45% {
    opacity: 0.9;
  }
}

.hiddenbutton {
animation: crtOff 0.8s ease forwards;
  font-family: 'Jersey 10';
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.hiddentext {
  width: 15rem;
  height: 15rem;
  border-collapse: separate;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  ),
  linear-gradient(to bottom right, #030518, #0c0935);
background-size: 3px 3px; /* Mimic CRT pixelation */
border-color: #000000; /* Amber for the border on hover/focus */
    box-shadow: 0 0 6px 2px #fff2628a,
      /* Bright outer glow */ inset 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
  
    border-radius: 8px; /* Slightly rounded corners can add to the antique look */
  
    border-radius: 20px;
    border: 4px solid #ccc;
    border-top: 3px solid #ccc;
    animation: crtOff 0.8s ease-in-out forwards;
  
    font-family: 'Jersey 10';
    padding: 10px;
    color: #ffffff;
    font-size: 17px;
    opacity: 0;
 
}

@keyframes crtOff {
  0% {
    transform: scaleY(1) scaleX(1);
    transform-origin: center;
  }
  50% {
    transform: scaleY(0.003) scaleX(0.8);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    transform: scaleY(0.0001) scaleX(0);
    transform-origin: center;
    opacity: 1;
  }
}