.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .textBubble {
    white-space: pre-wrap; /* Maintains whitespace formatting */
    max-width: 300px;
    padding: 20px;
    background-color: #e9e7d4;
    border-radius: 10px;
    border: 2px solid #333;
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    
  }
  
  .textBubble::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Adjust this value to move the tip up or down */
    left: 50px; /* Adjust this value to move the tip left or right */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #f0f0f0;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
   
  }
  
  .container4welcome {
    margin-top: 200px;
    display: flex;
    align-items: center; /* Align items vertically*/
    justify-content: center; /* Space out items horizontally*/
    animation: driftIn 3s forwards;
  
    z-index: 10;
  }
  
  @keyframes driftIn {
    0% {
      opacity: 0;
      transform: translateY(20px) scaleX(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scaleX(1);
    }
  }
  
  @keyframes stretchFadeIn {
    from {
      opacity: 0;
      transform: scaleX(0.8);
    }
    to {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  
  @keyframes gradientWipe {
    from {
      left: -100%; /* Starts hidden to the left */
    }
    to {
      left: 100%; /* Ends moved out to the right, revealing the content */
    }
  }
  .textBubble {
    margin-left: 20px; /* Give some space between the text and the GIF*/
    
  }
  
  .puffGif {
 
    height: auto;
    animation: pulse 6s ease-in-out infinite; /* Gentle pulsing */
  
    transition: transform 0.3s ease-in-out, filter 0.3s ease; /* Smooth transitions for effects */
    filter: brightness(0.9);
    position: relative;
    overflow: hidden;
    filter: drop-shadow(3px 3px 0.8px #68686868);
    margin-top: 75px;
    z-index: 10;
    pointer-events: auto;
   
    cursor: pointer;
    
  }
  
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03); /* Slight scale increase */
    }
  }
  
  .puffGif:hover {
    filter: brightness(1.1) drop-shadow(3px 3px 0.8px #686868); /* Brighter on hover */
    transform: scale(1.06);
    animation: none; /* Stop pulsing on hover */
  }
  
  /* When GIF is active, no special effects */
  .puffGif.active {
    animation: none;
    filter: none;
    margin-top: 75px;
    filter: drop-shadow(3px 3px 0.8px #686868);
  }
  
  .puffGif:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: left 0.5s ease-out;
    left: 125%;
    filter: drop-shadow(3px 3px 0.8px #686868);
  }
  