.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
 overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  z-index: 0;
  animation: quickFadeIn 0.6s ease-in-out;
}

@keyframes quickFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  object-fit: cover;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  margin-top: 6rem;
  width: 100%;
  height: 119%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.title {
  position: relative;
  display: inline-block;
  color: white !important;
  font-family: "Jersey 10";
  text-align: center !important;
  margin-top: 3rem !important;
  font-size: 80px !important;
  animation: color-cycle-goldenrod-black4 1s ease forwards;
  opacity: 0;
}
.title::before {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 5px; /* Adjust the height of the stripe */
  background: rgb(93, 173, 216); /* Adjust the color and opacity of the stripe */
  z-index: -1; /* Ensure the stripe is behind the text */
  transform: translateY(-50%);
  border-radius: 8px;
  box-shadow: 0 0 15px 2px #49e6d8; /* Glowing effect on hover/focus */
  animation: crtOn 0.8s ease forwards, crtFlicker 3s ease forwards;
    
   
  opacity: 0;
}


.tableContainer {
  width: 40%;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  ),
  linear-gradient(to bottom right, #030518, #0c0935);
background-size: 3px 3px; /* Mimic CRT pixelation */
border-color: #000000; /* Amber for the border on hover/focus */
    box-shadow: 0 0 6px 2px #fff2628a,
      /* Bright outer glow */ inset 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
  
    border-radius: 8px; /* Slightly rounded corners can add to the antique look */
  
    border-radius: 20px;
    border: 4px solid #ccc;
    border-top: 3px solid #ccc;
    animation: crtOn 0.8s ease forwards;
}

.table th, .table td {
  
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}
.table td {
  opacity: 0;
  animation: quickFadeIn 2s ease forwards;
  animation-delay: 0.8s;
}

.table th {
  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0.735);
  font-size: 30px;
  font-family: 'Jersey 10';
  opacity: 0;
  animation: color-cycle-goldenrod-black4 1s ease forwards;
}

.table tbody tr {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.table tbody tr:hover {
  background-color: #eaeaea4d;
  color: black;
}

.rank1, .rank2, .rank3 {
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000;
  border-radius: 8px;
  color: #fafad2;
  font-weight: bold;

  
}

.rank1 {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7), inset 0 0 10px rgb(255, 233, 106);
  background: linear-gradient(90deg, rgba(255, 217, 0, 0.406), rgba(255, 215, 0, 0.4));
  font-weight: bold;
  opacity: 0;
  animation: colorFlashGold 2s ease-in-out forwards;
  animation-delay: 2s;

 
}

.rank2 {
  box-shadow: 0 0 10px rgba(192, 192, 192, 0.566), inset 0 0 10px rgb(192, 192, 192);
  background: linear-gradient(90deg, rgba(192, 192, 192, 0.566), rgba(192, 192, 192, 0.4));
  left: -100%;
  font-weight: bold;
  animation: colorFlashSilver 2s ease-in-out forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.rank3 {
  animation: colorFlashBronze 2s ease-in-out forwards;
  animation-delay: 1s;
  box-shadow: 0 0 10px rgba(205, 128, 50, 0.384), inset 0 0 10px rgb(205, 127, 50, 0.4);
  background: linear-gradient(90deg, rgba(205, 128, 50, 0.384), rgba(205, 127, 50, 0.4));
  font-weight: bold;
  opacity: 0;
}

.row {
  background-color: rgba(255, 255, 255, 0.413);
  border: 1px dotted #ffffff;
  color: #fafad2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes crtOn {
  0% {
    pointer-events: none;
    transform: scaleY(0.001) scaleX(0);
    transform-origin: center;
    opacity: 1;
  }
  50% {
    pointer-events: none;
    transform: scaleY(0.003) scaleX(0.8);
    transform-origin: center;
    opacity: 1;
  }
  100% {
    pointer-events: all;
    transform: scaleY(1) scaleX(1);
    transform-origin: center;
    opacity: 1;
  }
}

@keyframes color-cycle-goldenrod-black4 {
  0% {
    opacity: 0;
    color: rgb(22, 22, 22);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 0 rgb(218, 165, 32);
  }
  25% {
    opacity: 0.2;
    color: rgb(39, 39, 39);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 0 rgb(218, 165, 32);
  }
  50% {
    opacity: 0.4;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 0 rgb(218, 165, 32);
  }
  69% {
    opacity: 0.76;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 1px rgb(218, 165, 32);
  }
  70% {
    opacity: 0.84;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(218, 165, 32), 2px 2px 2px rgb(218, 165, 32);
  }
  75% {
    opacity: 0.94;
    color: rgb(201, 201, 201);
    text-shadow: -2px -2px 2px rgb(0, 0, 0), 3px -2px 2px rgb(0, 0, 0),
      -1px 1px 0 rgb(218, 165, 32), 2px 2px 4px rgb(218, 165, 32);
  }
  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 0.913);
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 3px -2px 0 rgb(0, 0, 0),
      -2px 2px 0 rgb(0, 0, 0), 2px 2px 10px rgb(218, 165, 32);
  }
}

@keyframes colorFlashGold {
  0% {
    opacity: 0;
    background: linear-gradient(90deg, rgba(255, 217, 0, 0.406), rgba(255, 215, 0, 0.4));
  }
  50% {
    opacity: 1;
    background-color: rgb(255, 217, 0); /* Gold flash */
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: linear-gradient(90deg, rgba(255, 215, 0, 0.8), rgba(255, 215, 0, 0.4));
  }
}


@keyframes gradientWipe {
  from {
    left: -100%; /* Starts hidden to the left */
  }
  to {
    left: 100%; /* Ends moved out to the right, revealing the content */
  }
}

@keyframes colorFlashSilver {
  0% {
    opacity: 0;
    background: linear-gradient(90deg, rgba(192, 192, 192, 0.406), rgba(192, 192, 192, 0.4));
  }
  50% {
    opacity: 1;
    background-color: rgb(192, 192, 192); /* Silver flash */
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: linear-gradient(90deg, rgba(192, 192, 192, 0.8), rgba(192, 192, 192, 0.4));
  }
}

@keyframes colorFlashBronze {
  0% {
    opacity: 0;
    background: linear-gradient(90deg, rgba(205, 127, 50, 0.406), rgba(205, 127, 50, 0.4));
  }
  50% {
    opacity: 1;
    background-color: rgb(205, 127, 50); /* Bronze flash */
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: linear-gradient(90deg, rgba(205, 127, 50, 0.8), rgba(205, 127, 50, 0.4));
  }
}

@keyframes crtFlicker {
  0%,
  100% {
    opacity: 1;
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60% {
    opacity: 0.95;
  }
  15%,
  35%,
  55% {
    opacity: 0.8;
  }
  14%,
  19%,
  29% {
    opacity: 0.6;
  }
  25%,
  45% {
    opacity: 0.9;
  }
}

